* {
  margin: 0;
  padding: 0;
  margin-block-start: 0px;
  margin-block-end: 0px;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
  list-style: none;
  font-size: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

input {
  all: inherit;
}

body {
  display: flex;
  margin: 0px auto;
  font-family: Montserrat;
  justify-content: center;
}

.root {
  min-width: 375px;
}

.global-container {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  padding-bottom: 300px;
}

.content-container {
  margin: 0 14.4%;
}

header {
  margin-top: 40px;
  margin-bottom: 63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  justify-content: center;
}

.header-btn {
  color: #ff6060;
  font-size: 1.5em;
  font-weight: 500;
}

.header-btn-selected {
  text-decoration: underline;
}

.header-about-btn {
  padding-left: 57px;
}

.banner {
  display: flex;
  height: 223px;
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
  position: relative;
  margin-bottom: 43px;
}

.img-banner {
  max-height: 100%;
  width: 100%;
  object-fit: cover;
  filter: brightness(65%);
}

.content-container-about .banner .catchphrase {
  display: none;
}
.catchphrase {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3em;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

.logements-container {
  background-color: #f6f6f6;
  border-radius: 25px;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 50px;
}

.logement-box {
  height: 340px;
  width: 340px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  cursor: pointer;
}

.logement-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.logement-name {
  position: absolute;
  bottom: 0px;
  font-size: 1.125em;
  font-weight: 500;
  color: white;
  margin: 20px;
}

.carrousel-container {
  width: auto;
  height: 415px;
  display: flex;
  position: relative;
  overflow: hidden;
  border-radius: 25px;
}

.carrousel-img {
  display: flex;
  object-fit: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}

.slide-arrow {
  position: absolute;
  cursor: pointer;
}

.next-slide-arrow {
  right: 23px;
  top: 156.7px;
  transform: rotate(180deg);
}

.previous-slide-arrow {
  left: 23px;
  top: 156.7px;
}

.infos-container {
  margin-top: 30px;
}

.basic-infos-container {
  display: flex;
  justify-content: space-between;
}

.basic-infos-title {
  font-size: 2.25em;
  font-weight: 500;
  color: #ff6060;
}

.basic-infos-location {
  font-size: 1.125em;
  color: #ff6060;
  font-weight: 500;
}

.owner-infos-container {
  display: flex;
}

.owner-name {
  font-weight: 1.125em;
  color: #ff6060;
  font-weight: 500;
  margin-right: 10px;
}

.owner-picture {
  object-fit: cover;
  height: 64px;
  width: 64px;
  border-radius: 50%;
  align-items: middle;
}

.tags-and-rating-container {
  display: flex;
  justify-content: space-between;
}

.tags-container {
  margin-top: 15px;
  display: flex;
}

.tag {
  margin-right: 10px;
  padding: 2.5px 40px;
  color: white;
  background-color: #ff6060;
  border-radius: 10px;
}

.collapse-section {
  margin-top: 24px;
  display: flex;
  gap: 76px;
}

.collapse-container {
  width: 100%;
  height: auto;
  border-radius: 10px;
  overflow: hidden;
}

.collapse-header {
  display: flex;
  background-color: #ff6060;
  color: white;
  justify-content: space-between;
  padding: 13px 20px;
  align-items: center;
  border-radius: 10px;
}

.collapse-open-btn.aiming-up {
  transform: rotate(0deg);
  transition-duration: 0.3s;
}

.collapse-open-btn.aiming-down {
  transform: rotate(180deg);
  transition-duration: 0.3s;
}

.collapse-content-container {
  background-color: #f6f6f6;
  padding: 30px 15px 40px 15px;
  height: 249px;
}

.collapse-content-container.active {
  opacity: 0;
  height: 0px;
  padding: 0px;
  transition-duration: 0.2s;
}

.collapse-content-container.inactive {
  opacity: 1;
  transition-duration: 0.2s;
}

.collapse-content {
  color: #ff6060;
  font-size: 1.125em;
  font-weight: 400;
}
/* Footer composant */

footer {
  display: flex;
  justify-content: center;
  background-color: black;
  height: 209px;
  padding-top: 30px;
  width: 100%;
  position: absolute;
  bottom: 0;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
}

.logo-footer {
  width: 122px;
}

.copyright {
  margin-top: 40px;
  font-size: 1.5em;
  font-weight: 500;
}

/* Error404 Page */
.error-infos-container {
  display: flex;
  flex-direction: column;
}

.error404 {
  margin-top: 140px;
  font-size: 15em;
  display: flex;
  justify-content: center;
  color: #ff6060;
  font-weight: 700;
  padding: 0;
}

.error-infos {
  font-size: 2.25em;
  color: #ff6060;
  font-weight: 500;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.back-home-btn {
  color: #ff6060;
  font-size: 1.125em;
  text-decoration: underline;
  display: flex;
  justify-content: center;
  margin-top: 182px;
}

/* About */

.collapse-about-page-container {
  margin: 0px 95px;
}

.about-collapse-container {
  margin-top: 31px;
}

.about-collapse-content-container {
  height: auto;
  padding: 25px 15px 18px 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@media (max-width: 1024px) {
  .header {
    margin: 0;
    margin-bottom: 16px;
  }

  .content-container {
    margin: 5% 5% 0% 5%;
  }

  .logo {
    width: 145px;
    height: 47px;
  }

  .header-btn {
    font-size: 0.75em;
    text-transform: uppercase;
  }

  .header-about-btn {
    padding-left: 10px;
  }

  .banner {
    position: relative;
    margin-bottom: 22px;
    height: 111px;
    border-radius: 10px;
  }

  .catchphrase {
    font-size: 1.5em;
    white-space: pre-line;
    position: absolute;
    left: 5%;
    transform: translate(0%, -48%);
  }

  .logements-container {
    background-color: white;
    padding: 0%;
    gap: 20px;
  }

  .logement-box {
    height: 255px;
    width: 100%;
  }

  .copyright {
    font-size: 0.75em;
  }

  .global-container {
    padding-bottom: 250px;
  }

  .collapse-about-page-container {
    margin: 0px;
  }

  .about-collapse-container {
    margin-top: 20px;
  }

  .content-container-about .banner .img-banner {
    height: 223px;
  }

  .content-container-about .banner {
    position: relative;
    margin-bottom: 19px;
    height: 223px;
    border-radius: 10px;
  }

  .collapse-header {
    font-size: 0.813em;
    padding: 5.5px 11.5px;
    border-radius: 5px;
  }

  .collapse-container {
    border-radius: 5px;
  }

  .collapse-content-container {
    border-radius: 5px;
  }

  .about-collapse-content-container {
    padding: 17px 12px;
  }

  .collapse-content {
    font-size: 0.75em;
  }

  .collapse-header img {
    width: 19px;
    height: 19px;
  }

  .error404 {
    margin-top: 195px;
    font-size: 6.5em;
  }

  .error-infos {
    font-size: 1em;
    width: 260px;
    white-space: pre-line;
    text-align: center;
  }

  .error-infos-container {
    align-items: center;
  }

  .back-home-btn {
    font-size: 0.875em;
    margin-top: 133px;
    margin-bottom: 50px;
  }

  .carrousel-container {
    height: 335px;
    border-radius: 10px;
    margin-top: 8px;
  }

  .slide-arrow {
    height: 24px;
  }

  .next-slide-arrow {
    right: 10px;
  }

  .previous-slide-arrow {
    left: 10px;
  }

  .infos-container {
    margin-top: 15px;
  }
  .basic-infos-title {
    font-size: 1em;
  }

  .basic-infos-location {
    margin-top: 8px;
    font-size: 0.875em;
  }

  .tags-and-rating-container {
    flex-direction: column;
  }

  .tags-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    font-size: 0.875em;
  }

  .tag {
    width: auto;
    height: 18px;
    font-size: 0.625em;
    margin-top: 10px;
    display: flex;
    padding: 0px 21px;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-wrap: wrap;
  }

  .collapse-section {
    margin-top: 16px;
    flex-direction: column;
    gap: 20px;
  }

  .collapse-content-container {
    height: auto;
    padding: 15px 15px 20px 15px;
  }

  .stars-container {
    margin-top: 20px;
  }
  .stars-container img {
    width: 20px;

    height: auto;
  }

  .infos-right-container {
    position: relative;
  }

  /* .owner-infos-container {
    position: absolute;
    right: 20.64px;
    top: 110px;
  } */

  .owner-infos-container img {
    width: 32px;
    height: 32px;
  }

  .owner-infos-container .owner-name {
    font-size: 0.75em;
    margin-right: 10.5px;
    text-align: right;
  }
}
